body {
    font-family: sans-serif;
    background-color: #A8F000	;
}
a {
    color: #CD0074;		
}
h1 {
   color: #4284D3;
}
li {
   color: #FF9500;
}
div {
    display: flex;
    margin-bottom: 35px;
}
.link-header {
  text-decoration:none ;
  border: 1px solid #CD0074 ;
  border-radius: 15px;
  padding: 7px;
}
